@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

* {
	list-style: none;
	font-family: "Inter", sans-serif;
	margin: 0;
	box-sizing: border-box;
}
body {
	color: white;
	min-height: 100%;
	background-color:  #222222;
}
nav {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 20px 25px;
}
nav h2 {
	letter-spacing: -1px;
}
ul {
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
}
header {
  display: grid;
  grid-template-columns: 50% 50%;
}
.header-left {
	display: flex;
	align-items: center;
	padding-left: 25px;
}
h1 {
	font-size: 4.3rem;
	letter-spacing: -2.5px;
}
.header-left-container h3 {
	font-size: x-large;
	letter-spacing: -0.5px;
	color: #376cf9;
	margin-bottom: 6px;
}
p {
	font-size: 0.8rem;
}
.header-right {
	margin: 35px 15px 25px 40px;
}
#device {
	width: 100%;
}
.infos {
	background: black;
	border-radius: 8px;
	display: grid;
	grid-template-columns: 33% 67%;
	padding: 10px 25px;
}
.infos-left {
}
.btn-container {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 15px;
}
.blue {
	background: #376cf9;
	border: none;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	letter-spacing: 0.25px;
	margin: 3px;
	width: 140px;
	min-height: 30px;
}
.investors {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.img-container {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.logo {
	height: 4.5vh;
}